<!DOCTYPE html>
<!-- New line-->
{% load staticfiles %} 
<!-- New line-->
<html>

	<head>
		<title> Rango</title>
		
	</head>

	<body>
		<div>
			<br />
			<strong>{{ boldmessage }}</strong><br />
		</div>
		<div>
		<!-- Image-->
			<a href='/rango/'>View index page</a>
			<img src="{{ MEDIA_URL}}cat.jpg" /> <!--New line-->
		<h1>Rango says here is the about page</h1>
		
		<!-- Image-->
			<img src="{% static "images/rango.jpg" %}" 
			alt="Picture of Rango" /> <!--New line-->
		
		</div>
	</body>
</html>	