<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %} 
<html>

	{% block title_block %}
	Main Page				
	{% endblock %}

	{% block body_block %}
		<h1>Rango says...</h1>
		{% if user.is_authenticated %}
		howdy {{ user.username }}!
		{% else %}
		hey there partner!
		{% endif %}
		<br />
		<div>
		<a> Most Liked Categories</a>
		{% if categories %}
		<ul>	
			{% for category in categories %}
		<li>
			<a href="{% url 'rango:show_category' category.slug %}">
			{{ category.name }} 
			</a>
		</li>
		{% endfor %}
		</ul>		
		{% else %}
		<strong> There are no categories present.</strong>
		{% endif %}	
		</div>



		<div>
		<a> Most Viewed Pages </a>

		{% if pages %}
		<ul>	
		{% for page in pages %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
		<strong> No pages currently in category.</strong>
		{% endif %}

		</div>	


		<div>
		<!-- Image-->
			
			<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> 
		</div>
{% endblock %}