<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %} 
<html>

	{% block title_block %}
	Main Page				
	{% endblock %}

	{% block body_block %}
	<div class="jumbotron">
		<h1 class="display-3">Rango says...</h1>
		{% if user.is_authenticated %}
		howdy {{ user.username }}!
		<strong>You've made visits: {{ visits}} to this website.</strong>
		{% else %}
		hey there partner!
		<strong>You've made visits: {{ visits}} to this website.</strong>
		{% endif %}
	</div>
	<div class="row marketing">
		<div class="col-lg-6">
		<h4> Most Liked Categories</h4>
		
		<p>
		{% if categories %}
		<ul class="list-group">	
			{% for category in categories %}
			<li class="list-group-item">
				<a href="{% url 'rango:show_category' category.slug %}">
				{{ category.name }} 
				</a>
			</li>
			{% endfor %}
		</ul>		
		{% else %}
			<strong> There are no categories present.</strong>
		{% endif %}	
		</p>
		</div>



		<div class="col-lg-6">
			<h4> Most Viewed Pages </h4>
			<p>
			{% if pages %}
			<ul class="list-group">	
				{% for page in pages %}
				<li class="list-group-item">
					<a href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
			</ul>
				{% else %}
					<strong> No pages currently in category.</strong>
				{% endif %}
			</p>
		</div>	


		<!-- Image-->
			
			<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> 
		</div>
	</div>
{% endblock %}